# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
pyCode/pset_2_7c/.idea/misc.xml
pyCode/pset_2_7c/.idea/pset_2_7c.iml
pyCode/pset_2_7c/.idea/workspace.xml
pyCode/pset_2_7c/.idea/modules.xml
pyCode/pset_2_7c/.idea/modules.xml
pyCode/pset_2_9/.idea/misc.xml
pyCode/pset_2_9/.idea/workspace.xml
pyCode/pset_2_9/.idea/modules.xml
pyCode/pset_2_7c/.idea/modules.xml
pyCode/pset_2_9/.idea/pset_2_9.iml
pyCode/pset_2_7c/.idea/modules.xml
pyCode/pset_2_7c/.idea/modules.xml
pyCode/pset_2_12/.idea/misc.xml
pyCode/pset_2_12/.idea/modules.xml
pyCode/pset_2_12/.idea/pset_2_12.iml
pyCode/pset_2_12/.idea/workspace.xml
pyCode/pset_3_12/.idea/misc.xml
pyCode/pset_3_12/.idea/modules.xml
pyCode/pset_3_12/.idea/pset_3_12.iml
pyCode/pset_3_12/.idea/workspace.xml
pyCode/pset_3_12_b/.idea/misc.xml
pyCode/pset_3_12_b/.idea/modules.xml
pyCode/pset_3_12_b/.idea/pset_3_12_b.iml
pyCode/pset_3_12_b/.idea/workspace.xml
pyCode/pset_4_9/.idea/misc.xml
pyCode/pset_4_9/.idea/modules.xml
pyCode/pset_4_9/.idea/pset_4_9.iml
pyCode/pset_4_9/.idea/workspace.xml
pyCode/pset_4_10/.idea/misc.xml
pyCode/pset_4_10/.idea/modules.xml
pyCode/pset_4_10/.idea/pset_4_10.iml
pyCode/pset_4_10/.idea/workspace.xml
pyCode/pset_4_9/.idea/dictionaries/xiaoqi_zhou.xml
pyCode/pset_5_2/.idea/misc.xml
pyCode/pset_5_2/.idea/modules.xml
pyCode/pset_5_2/.idea/pset_5_2.iml
pyCode/pset_5_2/.idea/workspace.xml
pyCode/pset_5_12/.idea/misc.xml
pyCode/pset_5_12/.idea/modules.xml
pyCode/pset_5_12/.idea/pset_5_12.iml
pyCode/pset_5_12/.idea/workspace.xml
